{% extends '@Shop/main_layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a href="{{ path('admin_add_category') }}" class="btn btn-success btn-sm">Добавить категорию</a>
            </div>
            <div class="col-xs-10">
                {% block admin_panel %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}