{% extends '@Shop/main_layout.html.twig' %}
{% block content %}
    <div class="container">
        {% if error %}
            <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form action="{{ path('admin_login') }}" method="post" class="form-horizontal thumbnail col-xs-5">
            <div class="form-group">
                <label for="username" class="control-label col-xs-4">Логин:</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-xs-4">Пароль:</label>
                <div class="col-xs-8">
                    <input type="password" class="form-control" id="password" name="_password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-8">
                    <button type="submit" class="btn btn-success" >Войти</button>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
            </div>
        </form>
    </div>


{% endblock %}