{% extends 'ShopBundle::main_layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="thumbnail">
            <img src="{{ asset('bundles/shop/images/uploads/categories/8.png') }}" alt="">
            <div class="caption">
                <h3>Геймпад</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque, commodi
                    consectetur cum debitis doloremque eligendi fugit illo impedit nihil perspiciatis soluta
                    voluptas voluptatem. Amet eius id nulla sunt tempore.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid blanditiis culpa cupiditate
                    exercitationem explicabo fugit ipsum, iure nemo quaerat quidem quod rem, suscipit. Facilis itaque
                    quaerat quas sit velit voluptatum!</p>
            </div>
        </div>
    </div>
{% endblock %}